{% extends "base.html" %}
{% block title %}Aanbod | Neo Lease{% endblock %}

{% block content %}
<section class="container" style="padding: 4rem 1rem; text-align: center;">
  <h1 style="color: #4c37c6; font-size: 2rem; margin-bottom: 1rem;">Aanbod</h1>
  <p style="font-size: 1.2rem; margin-bottom: 2rem;">
    Je kunt bij Neo Lease terecht voor alle voertuigen die te koop staan bij bedrijven!
  </p>
  <a href="{{ url_for('contact') }}" class="btn border">Neem nu contact met ons op</a>
</section>
{% endblock %}
